doctype
html
	head
		title
		link(rel="stylesheet" href="/stylesheets/style.css")
	body
		div.nav
			ul
				li
					a(href='#')新闻
				li
					a(href='#')地图
				li
					a(href='#')地图
				li
					a(href='#')视频
				li
					a(href='#')贴吧
				li
					a(href='#')学术
				li
					a(href='#') hao123
				li
					a(href='#')设置	
		div.tu<img src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png"/>									
		div.box
			input
			a(href='#').kk百度一下
				